<div class="toolbar" role="banner">
  <div class="header-logo">

  </div>

  <span class="header-title">Welcome to Raman's site</span>

  <div class="header-social-links">
    <a href="https://github.com/RamanShyrski" target="_blank">
    <img width="35" src="https://icon-library.com/images/github-icon-svg/github-icon-svg-14.jpg"/>
    </a>

    <a href="https://www.linkedin.com/in/raman-shyrski-619aa914b/" target="_blank">
      <img width="35"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png"/>
    </a>

    <a href="https://www.instagram.com/roman_shirskii/" target="_blank">
      <img width="35"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png"/>
    </a>

    <a href="mailto:roman.shyrski@gmail.com" target="_blank">
      <img width="35" height="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Gmail_Icon.svg/1200px-Gmail_Icon.svg.png"/>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
